<html>
    <head>
        <link rel="icon" href="/img/tit.png">
        <title>About</title>
        <link rel="stylesheet" href="./css/style.css" />
    </head>

    <body>
        <div class="main-content">{{>header}}
            <p>This website is created by channaveer. It uses data from mapbox.com and weatherstack.com</p>
            <img class='portrait' src="/img/robot.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>